<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="description" content="Page to show urs in base to json file" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="./css/pico.min.css" />
    <link rel="stylesheet" href="./custom/styles.css" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="container">
      <hgroup>
        <h1>Red Comunitaria para el Barrio La Paz</h1>
        <h2>Aqui podrás encontrar información útil para tu comunidad</h2>
      </hgroup>
      <nav>
        <ul>
          <li><a href="index.html">Pagina principal</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {{#each routes as |item|}}
      <div class="card">
        <a href="{{ item.url }}">
          <article class="grid">
            {{#if item.img_src}}
            <img src="{{ item.img_src }}" alt="" style="width: 100%" />
            {{/if}}
            <div>
              <header>{{item.name}}</header>
              {{#if item.text }}
              <p>{{item.text}}</p>
              {{/if}}
              <footer>
                Estado:
                <status class="estado"></status>
              </footer>
            </div>
          </article>
        </a>
      </div>
      {{/each}}
      <div class="card">
        <article class="grid">
          <img src="media/LogoUcatolica.png" alt="LogoUcatolica" />
          <div>
            <header>Universidad Católica de Colombia</header>
            <p>
              Este proyecto se desarrolló con la finalidad de proveer a los
              habitantes del barrio La Paz acceso a información, que si bien no
              es internet propiamente dicho, puede ser de bastante provecho para
              la educación en el barrio.
            </p>
            <footer>
              Diego Romero, Brayan Cortes, Jorge Perez, Paula Naranjo y Juan
              Ramirez
            </footer>
          </div>
        </article>
      </div>
      <div class="card">
        <article class="grid">
          <div>
            <header>¿Que es una red comunitaria?</header>
            <p>
              Es una infraestructura de comunicación creada y gestionada por una
              comunidad en lugar de una empresa o proveedor de servicios de
              telecomunicaciones tradicional. Se llevan a cabo con la finalidad
              de conectar areas o comunidades que tienen un limitado acceso al
              internet. Se requiere de la colaboración y participación activa de
              los miembros de la comunidad para establecer y mantener la red.
              Especificamente, este proyecto se basa en el acceso a recursos
              educativos para la comunidad del barrio La Paz.
            </p>
          </div>
        </article>
      </div>
      <div class="card">
        <article class="grid">
          <div>
            <header>¿Que podras encontrar aqui?</header>
            <p>
              En un primer momento, implementamos un servicio llamado "kiwix",
              el cual permite acceder a una "wikipedia" sin conexion a internet,
              por tanto es ideal para la consulta y en especial para la
              educación. Sin embargo, hay una gran cantidad de posibilidades que
              se pueden hacer realidad con este proyecto que queda abierto para
              quien decida implementar funcionalidades, mejoras o mantenimiento
              del mismo.
            </p>
          </div>
        </article>
      </div>
    </main>
    <footer class="container"></footer>
    <script>
      "use strict";
      let node_status = document.querySelectorAll(".estado");
      for (let i = 0; i < node_status.length; i++) {
        let node = node_status[i];
        let url = node.closest("a").href;
        console.log(url);
        fetch(url)
          .then((response) => {
            if (response.ok) {
              console.log("ok");
              node.style.backgroundColor = "green";
            } else {
              console.log("error");
              node.style.backgroundColor = "red";
            }
          })
          .catch((error) => {
            node.style.backgroundColor = "gray";
            console.log("error in fetch");
          });
      }
    </script>
  </body>
</html>
