a{
 text-decoration: none;
}

.card{
  margin-bottom: 20px;
}

h1,h2,header, footer{
  text-align: center;
}

p{
  text-align: justify;
  color: #000000;
} 

.estado{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  background-color: green;
}

header{
  padding-bottom: 1em;
}

img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
